{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Change the title!" {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'mysite/styles/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:1100px) and (max-width:1400px)" href="{% static 'mysite/styles/style_medium.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width:1099px)" href="{% static 'mysite/styles/style_mobile.css' %}" />
    <script src="{% static 'mysite/javascript/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'mysite/javascript/script.js' %}"></script>
</head>
<body>
    <nav id="topMenu">
        <a id="name" href="/">
            Olof Haglund
        </a>
        <div id="navigation">
            <div id="scroll">
                <div></div>
                <div></div>
            </div>
            <div id="navigationItems">
                <a href="/about">About me</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
<footer>
    Copyright © Olof Haglund 2017, All rights reserved, <br /> or maybe not? How whould you know?
</footer>
</html>
