{% extends "mysite/texts/base.html" %}

{% block title %}About me{% endblock %}

{% block sideMenu %}
<a href="#anc_who_am_i">Who am I?</a>
<a href="#skills">Skills and knowledge</a>
<a href="#contact">Contact</a>
{% endblock%}

{% block texts %}
<article class="articleItem">
    <div class="text">
        <h1 id="anc_who_am_i">Who am I?</h1>
        <p>
            I am a 21 year old male living in the windy city named Karlskrona. Currently I spend my days studying and in the free time I have wide varity of things I do. But because of this site is all about bragging about my self I will keep to writing the following things: I enjoy spending my time programming the most ambitious projects or wierd projects I can find. This sadly also means I mostly also a few time a month scrab my project because writing a completly new oprative system maybe is not the best idea in world if you want it print "Hello World" in the new language you decided to learn. But hey, at least I learned a few bits or maybe even bytes about the language.
        </p>
        <p>
            I also hold a position as boardmember in the gaming organisation "Mammas Källare". Mammas Källare organizes bianually the LAN-event WonderLAN which I hold the position "tech-responsible". It more or less means make sure the webpage, internet and servers work and no one bats an eye. One thing breaks and everyone loses their minds. (And yes, I copied that one)
        </p>
    </div>
    <div class="noteBox">
        <div class="notes">
            <h2>Positions</h2>
            <p>
                <ul>
                    <ol><a href="http://mammaskallare.se/page/mammaskallare/styrelse" target="_blank">Mammas Källare - boardmember</a></ol>
                    <ol><a href="http://mammaskallare.se/page/wonderlan" target="_blank">WonderLAN - Tech Responsible</a></ol>
                </ul>
            </p>
        </div>
        <div class="notes">
            <h2>Blekinge Institute of Technology</h2>
            <p>
                Currently studying at Blekinge Institute of Technology (BTH). The day I finish my title will be: <br />
                Degree of Bachelor of Science. <br />
                Main field of study: Computer Science. <br />
                Specilization: Security Engineering <br />
                <br />
                Or as normal poeple say: A man that knows stuff.
            </p>
            <p>
                C, C++, Applied network security, IT-forensic, Software security are some of the courses I have taken
            </p>
        </div>
        <div class="notes">
            <h2>Teknikum</h2>
            <p>
                Before I went on to study at BTH I spent three years in gymnasium named Tekniukum. The program I studied was Technology with the specilization "Information and media technology" or as everyone else calls it "IT". Some intresting courses given was:
                <ul>
                    <li>CCNA1 &amp; CCNA2</li>
                    <li>Programming - C#</li>
                    <li>Website development - HTML, CSS, Javascript, PHP and django</li>
                </ul>
            </p>
        </div>
    </div>
</article>
<article class="articleItem">
    <div class="text">
        <h1 id="skills">Skills and knowledge</h1>
        <p>
            When it comes to programming I have most of my time used C when it comes to projects. In later time have begun doing things that does not require alot of resources in python due to it's simplicity and big collection of libraries. Most of the time I develope thing I use this wonderfull operative system colletion called GNU/Linux.
        </p>
    </div>
    <div class="noteBox">
        <div class="notes">
            <h2>Languages in different shapes</h2>
            <p>
                <ul>
                    <li>C</li>
                    <li>Python
                        <ul>
                            <li>Django</li>
                        </ul>
                    </li>
                    <li>PHP
                        <ul>
                            <li>Laravell 4</li>
                        </ul>
                    </li>
                    <li>C#</li>
                    <li>Bash</li>
                    <li>HTML, CSS, JS and all that comes with it</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>Lua - Never force me to touch that thing!</li>
                </ul
            </p>
        </div>
    </div>
</article>
<section class="oneBox">
    <h1 id="contact">Contact</h1>
    {% include "mysite/includes/contact_form.html" %}
</section>
{% endblock %}
