{% extends "mysite/base.html" %}

{% block content %}

<nav id="sideMenu">
    {% block sideMenu %}{% endblock %}
</nav>

<section id="content">
    {% block texts %}

    {% endblock %}
</section>
{% endblock %}
