{% extends "mysite/base.html" %}

{% block content %}
<section id="content">
    <div class="background" id="oneSection">
        {% block texts %}

        {% endblock %}
    </div>
</section>
{% endblock %}
