{% if form.error %}
<div class="error info">
    {{ form.error }}
</div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="error info">
            {{message|safe}}
        </div>
        {% endif %}
        {% if message.tags == "success" %}
        <div class="success info">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form action="/contact/" method="post" class="form_block">
    <fieldset>
        <legend>Contact me</legend>
        <p>You can contact me from this form below or by emailing me on <a href="mailto:olof@olofhaglund.name">olof@olofhaglund.name</a></p>

        {% csrf_token %}
        {{ form }}
        <input type="submit" value="send" />
    </fieldset>
</form>
